.background    
{ 
	background: #32C3E0;                 
	table-layout: fixed;
	border-spacing: 0;   
}

.background td 
{ 
	padding: 0;          
}

.lava          
{ 
	background: #7f0000; 
}

.wall
{
	background: grey;   
}

.actor  
{ 
position: absolute;  
}

.player 
{ 
background: #FF69B4;
}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
