.background    
{ 
	background: #32C3E0;                 
	table-layout: fixed;
	border-spacing: 0;   
}

.background td 
{ 
	padding: 0;          
}

.lava          
{ 
	background: linear-gradient(red, maroon); 
}

.wall
{
	background: linear-gradient(gray, black, gray);   
}

.actor  
{ 
	position: absolute;  
}

.player 
{ 
	background: linear-gradient(red, pink);
}

.lost .player 
{
  background: gray;
}

.won .player 
{
  box-shadow: -8px -14px 16px yellow, 20px -20px 20px green;
}

.coin
{
	background: yellow;
}

.ruby
{
	background-image: radial-gradient(green, lime);
}

.teleport
{
	background: blue;
	border: white;
}

.goal
{
	background: linear-gradient(grey, yellow);
}
.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
